<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quinneryj2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/flower"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/flower"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HowToActivity"></activity>
        <activity android:name=".GettingStartedActivity" />
        <activity android:name=".UsageWarningActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".PlantItselfActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".RegionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>